@model Management.Models.Goods.Goods

@{
    ViewBag.Title = "商品详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom:70px">商品详情</h2>

<div>
    <h4>商品信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoodsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsBuyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsBuyTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.GoodsId }) |
    @Html.ActionLink("返回列表", "Index")
</p>
