@model Management.Models.Record.Record

@{
    ViewBag.Title = "记录详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom:70px">记录详情</h2>

<div>
    <h4>记录</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.RecordId }) |
    @Html.ActionLink("返回列表", "Index")
</p>
