@model Management.Models.Person.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom:70px">Details</h2>

<div >
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal" >
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdminister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdminister)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.PersonId })</button>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Back to List", "Index")</button>
</p>
