<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 办公用品管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body  >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("办公用品管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("Person", "Index", "People")</li>
                    <li>@Html.ActionLink("Goods", "Index", "Goods")</li>
                    <li>@Html.ActionLink("Record", "Index", "Records")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("注册", "Register", "Home")</li>
                    @if (Session["CurrentUserId"] == null)
                    {
                        <li>@Html.ActionLink("登录", "Login", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("注销", "Logout", "Home")</li>
                        if ((bool)Session["CurrentUserIsAdminister"])
                        {
                            <li>@Html.ActionLink("Administer", "Edit", "People", new { id = Session["CurrentUserId"] }, null)</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("User", "Edit", "Home", new { id = Session["CurrentUserId"] }, null)</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()<hr />
        <footer style="position:absolute;bottom:0;width:100%;height:100px">
            
            <p style="margin-left:32%">&copy; @DateTime.Now.Year - 办公用品管理系统</p>
        </footer>
    </div>

    <div>
        <img src="~/Static/Image/background.jpg" alt="Alternate Text" id="my_bgc" style="width:100%; position:absolute;z-index:-1;top:50px;height:100%-500px;opacity:0.4"/>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
